<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANGMAN GAME</title>
</head>

<body>
    <div class="container">
        <div id="image">

        </div>
        <div id="secret-word">
           
        </div>
        <div id="keyboard">

        </div>
        <div id="category">

        </div>
        <!-- start modal -->

        <!-- finish modal -->
    </div>
</body>

</html>