@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: rgb(212, 198, 134);
    font-family: 'Akshar', sans-serif;;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#image {
    background-image: url(/views/img/forca00.png);
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}   

#secret-word{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}

.letters{
    width: 16px;
    text-align: center;
    border-bottom: 5px solid #d46969;
    color: rgb(2, 2, 2);
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#keyboard{
    margin-top: 30px;
}

.keys button{
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgray;
    color: #d46666;
    font-weight: 850;
}

.keys button:hover{
    transform: scale(1.5);
}

#category{
    margin-top: 30px;
    color: #d46666;
    font-size: 1.5em;
    font-family: 'Akshar', sans-serif;;
    
}

@media (min-width: 321px) {
    .keys button{
        width: 25px;
        height: 25px;
    }
    #category{
        font-size: 1.2em;
    }
}

@media (min-width: 376px) {
    .keys button{
        width: 30px;
        height: 30px;
    }
    #secret-word{
        font-size: 1.3em;
    }
    .letters{
        width: 18px;
    }
    #category{
        font-size: 1.5em;
    }
}

@media (min-width: 426) {
    .keys button{
        width: 36px;
        height: 36px;
    }
    #secret-word{
        font-size: 1.5em;
    }
    .letters{
        width: 20px;
    }
    #category{
        font-size: 1.6em;
    }
}

@media (min-width: 769px) {
    .keys button{
        width: 68px;
        height: 68px;
        font-size: 2em;
    }
    #secret-word{
        font-size: 2.5em;
    }
    .letters{
        width: 35px;
    }
    #category{
        font-size: 2em;
    }
}